body {
  font-family: "Helvetica";
  margin: 2em;
  background-color: black;
  color: white;
}

a {
  color: white;
}

hr {
  color: white;
}

header {
  display: flex;
  flex-direction: row;
}

header > img {
  height: 100px;
}

header > #title {
  margin-left: 20px;
}

header > #title > h1 {
  margin-bottom: -10px;
}

.content-wrapper {
  max-width: 1000px;
}

.content-wrapper > h2 {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 300px;
}

.content .image-slider {
  width: 300px;
  height: 300px;
  display: flex;
  overflow: auto;
  float: left;
  margin-right: 30px;
  
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behaviour: smooth;
}

.content .image-slide {
  width: 300px;
  flex-shrink: 0;
  height: 100%;
  scroll-snap-align: start;
}

.content img {
  float: left;
  height: 300px;
  width: 300px;
}

.content-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.content-details .description {
  max-height: 135px;
  max-width: 650px;
  width: inherit;
  overflow-y: scroll;
}

.description > pre {
  white-space: pre-wrap;
}

.content-details ul {
  list-style-type: none;
  padding: 0px;
}

.content-details li {
  line-height: 20px;
}

.create-content-title {
  text-decoration: underline;
  cursor: pointer;
}

.create-form-inner {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.create-form-inner > div {
  margin-bottom: 33px;
}

.create-form-inner .label-wrapper {
  margin-bottom: 3px;
}

.form-create-button, .delete-button {
  margin-left: 20px;
}

.date, .date {
  color: grey;
  margin-bottom: 10px;
}

.vertical-break {
  color: grey;
}

.event h2 {
  margin-bottom: 0px;
}

.price {
  margin-bottom: 20px;
}

.additional-field-input-wrapper {
  margin-top: 5px;
}

.additional-field-input-wrapper .delete-input-button {
  margin-left: 5px;
}

.release img {
  width: 300px;
  height: 300px;
}

#error {
  margin-left: 20px;
  margin-top: -20px;
  margin-bottom: 10px;
  color: red;
  font-size: 18px;
}

.unsigned-artist-link-input {
  margin-left: 10px;
}

#login-form > input {
  margin-bottom: 10px;
}

#login-error {
  color: red;
}

.account-management > input {
  margin-bottom: 10px;
  margin-left: 20px;
}

#change-password-success, #create-account-success {
  color: green;
  margin-left: 20px;
}

.article-content {
  max-height: 300px;
  overflow-y: scroll;
  margin-top: 30px;
  margin-bottom: 30px;
}
