body {
  font-family: "Helvetica";
  margin-left: 3em;
  margin-top: 3em;
}

.artists {
  width: 1000px;
}

.artist {
  width: 1000px;
  height: 300px;
}

.artist img {
  float: left;
  height: 300px;
  width: 300px;
  margin-right: 30px;
}

.artist .description {
  height: 135px;
  overflow-y: scroll;
}

.artist ul {
  list-style-type: none;
}

.artist li {
  line-height: 20px;
}

.artist .edit-profile {
  float: right;
}

#create-event-title {
/*  color: blue;*/
  text-decoration: underline;
  cursor: pointer;
}

.event-create-form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#form-create-button {
  margin-left: 18px;
}

.event-create-form > div {
  margin-bottom: 33px;
}

.select-date {
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-date #date-select {
  margin-left: 10px;
}

.select-artists, .select-unsigned-artists, .input-price, .select-name {
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.artist-select {
  margin-left: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#add-artist {
  margin-left: 20px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#delete-artist {
  margin-left: 5px;
  color: red;
  cursor: pointer;
}

.unsigned-artist-input {
  margin-left: 20px;
}

#events {
  width: 1000px;
}

#events > h2 {
  text-decoration: underline;
}

.event-date {
  color: grey;
}

.event-artists {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-artists > h3 {
  margin-right: 10px;
}

.event-artists > div {
  margin-left: 5px;
}

.vertical-break {
  color: grey;
}

.edit-event {
  float: right;
}
